# Reference system unit - deployed to /etc/systemd/system/aap-instance-controller.service
[Unit]
Description=AAP instance enable/disable (controller mesh, controller)
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
RemainAfterExit=yes
LoadCredentialEncrypted=aap_token:/etc/credstore.encrypted/aap_token
PrivateMounts=yes
ExecStart=/usr/local/bin/aap-instance-controller start
ExecStop=/usr/local/bin/aap-instance-controller stop
TimeoutStartSec=660

[Install]
WantedBy=multi-user.target
